.fondoBarra{

    
    color: #ff8138;
    font-weight: bold;
    }



.animado{


    animation: myAnim 1s ease 0s 1 normal forwards;


}    

@keyframes myAnim {
    0% {
      transform: scaleX(0);
      transform-origin: 0% 0%;
    }
  
    100% {
      transform: scaleX(1);
      transform-origin: 0% 0%;
    }
  }


  


 


  @media only screen and (max-width: 768px){

    .letraSize {
  
      font-size: 12.5px;

    }



    
  }


  @media only screen and (min-width: 992px){

    .letraSize {
  
      font-size: 13.5px;

  }



    
  }




